<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.anttivuor.startactivityforfdik">

    <application>
        <service
            android:name=".RNStartActivityForFdikModule"
            android:exported="true"
        />
        <activity
            android:name=".RNStartActivityForFdikModule"
            android:exported="true"
            android:launchMode="singleInstance">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
